extends portal.pug

block content
    div.row
        div.col-md-6.col-xs-12
            div.x_panel
                div.x_title
                    h2='Gebruiker'
                div.x_content
                form#demo-form(data-parsley-validate method="post")
                    label(for="user")="Gebruiker"
                    select#user.form-control(name="user" required)
                        option(value="")="Kies..."
                        each user in users
                            option(value=user)=user
                    button.btn.btn-default(type=submit)
                        "Submit"