doctype html
html
    head
        title="Paula Portal"
        meta(http-equiv="Content-Type" content="text/html; charset=UTF-8")
        meta(charset="utf-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1")
        link(href='/static/vendors/bootstrap/dist/css/bootstrap.min.css' rel="stylesheet")
        link(href='/static/vendors/font-awesome/css/font-awesome.min.css' rel="stylesheet")
        link(href='/static/vendors/iCheck/skins/flat/green.css' rel="stylesheet")
        link(href='/static/vendors/bootstrap-progressbar/css/bootstrap-progressbar-3.3.4.min.css' rel="stylesheet")
        link(href='/static/css/maps/jquery-jvectormap-2.0.3.css' rel="stylesheet")
        link(href='/static/vendors/bootstrap/dist/css/bootstrap.min.css' rel="stylesheet")
        link(href='/static/css/custom.min.css' rel="stylesheet")
    body.nav-md
        div.container.body
            div.main_container
                div.col-md-3.left_col
                    div.left_col.scroll-view
                        div.navbar.nav_title(style="border: 0;")
                            a.site_title(href='/portal')
                                span="Paula"
                        div.clearfix
                        div#sidebar-menu.main_menu_side.hidden_print.main_menu
                            div.menu_section
                                h3=Menu
                                ul.nav.side-menu
                                    li
                                        a(href='/portal')
                                            i.fa.fa-home
                                            span="Home"
                div.top_nav
                    div.nav_menu
                        nav(role='navigation')
                            div.nav.toggle
                                a#menu_toggle
                                    i.fa.fa-bars
                
                div.right_col(role='main')
                   block content

                footer
                    div.pull-right
                    dv.clearfix
        script(src="/static/js/moment/moment.min.js")
        script(src="/static/vendors/jquery/dist/jquery.min.js")
        script(src="/static/vendors/bootstrap/dist/js/bootstrap.min.js")
        script(src="/static/vendors/fastclick/lib/fastclick.js")
        script(src="/static/vendors/nprogress/nprogress.js")
        script(src="/static/vendors/Chart.js/dist/Chart.min.js")
        script(src="/static/vendors/bernii/gauge.js/dist/gauge.min.js")
        script(src="/static/vendors/bootstrap-progressbar/bootstrap-progressbar.min.js")
        script(src="/static/vendors/iCheck/icheck.min.js")
        script(src="/static/vendors/skycons/skycons.js")
        script(src="/static/vendors/Flot/jquery.flot.js")
        script(src="/static/vendors/Flot/jquery.flot.pie.js")
        script(src="/static/vendors/Flot/jquery.flot.time.js")
        script(src="/static/vendors/Flot/jquery.flot.stack.js")
        script(src="/static/vendors/Flot/jquery.flot.resize.js")
        script(src="/static/js/flot/jquery.flot.orderBars.js")
        script(src="/static/js/flot/date.js")
        script(src="/static/js/flot/jquery.flot.spline.js")
        script(src="/static/js/flot/curvedLines.js")
        script(src="/static/js/maps/jquery-jvectormap-2.0.3.min.js")
        script(src="/static/js/custom.min.js")
        block script

