extends portal.pug

block content
    div.row
        div.col-md-12.col-sm-12.col-xs-12
            div.x_panel
               div.x_title
                h2="PAM Score"
                ul.nav.navbar-right.panel_toolbox
                    li
                        a.collapse-link
                            i.fa.fa-chevron-up
                    li.dropdown
                        a.dropdown-toggle(data-toggle="dropdown" role="button" aria-expanded="false")
                            i.fa.fa-wrech
                        ul.dropdown-menu(role="menu")
                            li
                                a(href="#")="Settings 1"
                            li
                                a(href="#")="Settings 1"
                    li.close-link
                        i.fa.fa-close
                div.clearfix
                div.x_content
                    canvas#questionnare_overall

   
    div.row
        div.col-md-4.col-sm-4.col-xs-4
            div.x_panel
                div.x_title
                h2="PAM Score per vraag"
                ul.nav.navbar-right.panel_toolbox
                    li
                        a.collapse-link
                            i.fa.fa-chevron-up
                    li.dropdown
                        a.dropdown-toggle(data-toggle="dropdown" role="button" aria-expanded="false")
                            i.fa.fa-wrech
                        ul.dropdown-menu(role="menu")
                            li
                                a(href="#")="Settings 1"
                            li
                                a(href="#")="Settings 1"
                    li.close-link
                        i.fa.fa-close
                div.clearfix
                div.x_content
                    canvas#questionnare_per_question_1
        div.col-md-4.col-sm-4.col-xs-4
            div.x_panel
                div.x_title
                h2="PAM Score per vraag"
                ul.nav.navbar-right.panel_toolbox
                    li
                        a.collapse-link
                            i.fa.fa-chevron-up
                    li.dropdown
                        a.dropdown-toggle(data-toggle="dropdown" role="button" aria-expanded="false")
                            i.fa.fa-wrech
                        ul.dropdown-menu(role="menu")
                            li
                                a(href="#")="Settings 1"
                            li
                                a(href="#")="Settings 1"
                    li.close-link
                        i.fa.fa-close
                div.clearfix
                div.x_content
                    canvas#questionnare_per_question_2
        div.col-md-4.col-sm-4.col-xs-4
            div.x_panel
                div.x_title
                h2="PAM Score per vraag"
                ul.nav.navbar-right.panel_toolbox
                    li
                        a.collapse-link
                            i.fa.fa-chevron-up
                    li.dropdown
                        a.dropdown-toggle(data-toggle="dropdown" role="button" aria-expanded="false")
                            i.fa.fa-wrech
                        ul.dropdown-menu(role="menu")
                            li
                                a(href="#")="Settings 1"
                            li
                                a(href="#")="Settings 1"
                    li.close-link
                        i.fa.fa-close
                div.clearfix
                div.x_content
                    canvas#questionnare_per_question_2
    div.row
        div.col-md-4.col-sm-4.col-xs-4
            div.x_panel
                div.x_title
                h2="PAM Score per vraag"
                ul.nav.navbar-right.panel_toolbox
                    li
                        a.collapse-link
                            i.fa.fa-chevron-up
                    li.dropdown
                        a.dropdown-toggle(data-toggle="dropdown" role="button" aria-expanded="false")
                            i.fa.fa-wrech
                        ul.dropdown-menu(role="menu")
                            li
                                a(href="#")="Settings 1"
                            li
                                a(href="#")="Settings 1"
                    li.close-link
                        i.fa.fa-close
                div.clearfix
                div.x_content
                    canvas#questionnare_per_question_4
        div.col-md-4.col-sm-4.col-xs-4
            div.x_panel
                div.x_title
                h2="PAM Score per vraag"
                ul.nav.navbar-right.panel_toolbox
                    li
                        a.collapse-link
                            i.fa.fa-chevron-up
                    li.dropdown
                        a.dropdown-toggle(data-toggle="dropdown" role="button" aria-expanded="false")
                            i.fa.fa-wrech
                        ul.dropdown-menu(role="menu")
                            li
                                a(href="#")="Settings 1"
                            li
                                a(href="#")="Settings 1"
                    li.close-link
                        i.fa.fa-close
                div.clearfix
                div.x_content
                    canvas#questionnare_per_question_5
        div.col-md-4.col-sm-4.col-xs-4
            div.x_panel
                div.x_title
                h2="PAM Score per vraag"
                ul.nav.navbar-right.panel_toolbox
                    li
                        a.collapse-link
                            i.fa.fa-chevron-up
                    li.dropdown
                        a.dropdown-toggle(data-toggle="dropdown" role="button" aria-expanded="false")
                            i.fa.fa-wrech
                        ul.dropdown-menu(role="menu")
                            li
                                a(href="#")="Settings 1"
                            li
                                a(href="#")="Settings 1"
                    li.close-link
                        i.fa.fa-close
                div.clearfix
                div.x_content
                    canvas#questionnare_per_question_6

    div.row
        div.col-md-4.col-sm-4.col-xs-4
            div.x_panel
                div.x_title
                h2="PAM Score per vraag"
                ul.nav.navbar-right.panel_toolbox
                    li
                        a.collapse-link
                            i.fa.fa-chevron-up
                    li.dropdown
                        a.dropdown-toggle(data-toggle="dropdown" role="button" aria-expanded="false")
                            i.fa.fa-wrech
                        ul.dropdown-menu(role="menu")
                            li
                                a(href="#")="Settings 1"
                            li
                                a(href="#")="Settings 1"
                    li.close-link
                        i.fa.fa-close
                div.clearfix
                div.x_content
                    canvas#questionnare_per_question_7
        div.col-md-4.col-sm-4.col-xs-4
            div.x_panel
                div.x_title
                h2="PAM Score per vraag"
                ul.nav.navbar-right.panel_toolbox
                    li
                        a.collapse-link
                            i.fa.fa-chevron-up
                    li.dropdown
                        a.dropdown-toggle(data-toggle="dropdown" role="button" aria-expanded="false")
                            i.fa.fa-wrech
                        ul.dropdown-menu(role="menu")
                            li
                                a(href="#")="Settings 1"
                            li
                                a(href="#")="Settings 1"
                    li.close-link
                        i.fa.fa-close
                div.clearfix
                div.x_content
                    canvas#questionnare_per_question_8
        div.col-md-4.col-sm-4.col-xs-4
            div.x_panel
                div.x_title
                h2="PAM Score per vraag"
                ul.nav.navbar-right.panel_toolbox
                    li
                        a.collapse-link
                            i.fa.fa-chevron-up
                    li.dropdown
                        a.dropdown-toggle(data-toggle="dropdown" role="button" aria-expanded="false")
                            i.fa.fa-wrech
                        ul.dropdown-menu(role="menu")
                            li
                                a(href="#")="Settings 1"
                            li
                                a(href="#")="Settings 1"
                    li.close-link
                        i.fa.fa-close
                div.clearfix
                div.x_content
                    canvas#questionnare_per_question_9


    div.row
        div.col-md-4.col-sm-4.col-xs-4
            div.x_panel
                div.x_title
                h2="PAM Score per vraag"
                ul.nav.navbar-right.panel_toolbox
                    li
                        a.collapse-link
                            i.fa.fa-chevron-up
                    li.dropdown
                        a.dropdown-toggle(data-toggle="dropdown" role="button" aria-expanded="false")
                            i.fa.fa-wrech
                        ul.dropdown-menu(role="menu")
                            li
                                a(href="#")="Settings 1"
                            li
                                a(href="#")="Settings 1"
                    li.close-link
                        i.fa.fa-close
                div.clearfix
                div.x_content
                    canvas#questionnare_per_question_10
        div.col-md-4.col-sm-4.col-xs-4
            div.x_panel
                div.x_title
                h2="PAM Score per vraag"
                ul.nav.navbar-right.panel_toolbox
                    li
                        a.collapse-link
                            i.fa.fa-chevron-up
                    li.dropdown
                        a.dropdown-toggle(data-toggle="dropdown" role="button" aria-expanded="false")
                            i.fa.fa-wrech
                        ul.dropdown-menu(role="menu")
                            li
                                a(href="#")="Settings 1"
                            li
                                a(href="#")="Settings 1"
                    li.close-link
                        i.fa.fa-close
                div.clearfix
                div.x_content
                    canvas#questionnare_per_question_11
        div.col-md-4.col-sm-4.col-xs-4
            div.x_panel
                div.x_title
                h2="PAM Score per vraag"
                ul.nav.navbar-right.panel_toolbox
                    li
                        a.collapse-link
                            i.fa.fa-chevron-up
                    li.dropdown
                        a.dropdown-toggle(data-toggle="dropdown" role="button" aria-expanded="false")
                            i.fa.fa-wrech
                        ul.dropdown-menu(role="menu")
                            li
                                a(href="#")="Settings 1"
                            li
                                a(href="#")="Settings 1"
                    li.close-link
                        i.fa.fa-close
                div.clearfix
                div.x_content
                    canvas#questionnare_per_question_12
    div.row
        div.col-md-4.col-sm-4.col-xs-4
            div.x_panel
                div.x_title
                h2="PAM Score per vraag"
                ul.nav.navbar-right.panel_toolbox
                    li
                        a.collapse-link
                            i.fa.fa-chevron-up
                    li.dropdown
                        a.dropdown-toggle(data-toggle="dropdown" role="button" aria-expanded="false")
                            i.fa.fa-wrech
                        ul.dropdown-menu(role="menu")
                            li
                                a(href="#")="Settings 1"
                            li
                                a(href="#")="Settings 1"
                    li.close-link
                        i.fa.fa-close
                div.clearfix
                div.x_content
                    canvas#questionnare_per_question_13

block script
    script(src="/static/js/user.js")
