extends portal.pug

block content
    div.row
        div.col-md-12.col-sm-12.col-xs-12
            div.x_panel
               div.x_title
                h2="PAM Score"
                ul.nav.navbar-right.panel_toolbox
                    li
                        a.collapse-link
                            i.fa.fa-chevron-up
                    li.dropdown
                        a.dropdown-toggle(data-toggle="dropdown" role="button" aria-expanded="false")
                            i.fa.fa-wrech
                        ul.dropdown-menu(role="menu")
                            li
                                a(href="#")="Settings 1"
                            li
                                a(href="#")="Settings 1"
                    li.close-link
                        i.fa.fa-close
                div.clearfix
                div.x_content
                    canvas#questionnare_overall

    - for (var x = 0; x < 3; x++)
        if x % 3 === 0
            div.row
                div.col-md-4.col-sm-4.col-xs-4
                    div.x_panel
                        div.x_title
                        h2="PAM Score per vraag"
                        ul.nav.navbar-right.panel_toolbox
                            li
                                a.collapse-link
                                    i.fa.fa-chevron-up
                            li.dropdown
                                a.dropdown-toggle(data-toggle="dropdown" role="button" aria-expanded="false")
                                    i.fa.fa-wrech
                                ul.dropdown-menu(role="menu")
                                    li
                                        a(href="#")="Settings 1"
                                    li
                                        a(href="#")="Settings 1"
                            li.close-link
                                i.fa.fa-close
                        div.clearfix
                        div.x_content
                            canvas(id='questionnare_per_question_' + x)
        else 
                div.col-md-4.col-sm-4.col-xs-4
                    div.x_panel
                        div.x_title
                        h2="PAM Score per vraag"
                        ul.nav.navbar-right.panel_toolbox
                            li
                                a.collapse-link
                                    i.fa.fa-chevron-up
                            li.dropdown
                                a.dropdown-toggle(data-toggle="dropdown" role="button" aria-expanded="false")
                                    i.fa.fa-wrech
                                ul.dropdown-menu(role="menu")
                                    li
                                        a(href="#")="Settings 1"
                                    li
                                        a(href="#")="Settings 1"
                            li.close-link
                                i.fa.fa-close
                        div.clearfix
                        div.x_content
                            canvas(id='questionnare_per_question_' + x)

block script
    script(src="/static/js/user.js")
